:root {
    --color1: #001322;
    --color2: #0052c9;
    --color3: #00a4eb;
    --color4: #ffffff;
}

/* Preloader start */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    background-color: var(--color1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-logo {
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
}

.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
}

.boxes .box>div {
    --background: var(--color3);
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box>div:nth-child(1) {
    --top: 0;
    --left: 0;
}

.boxes .box>div:nth-child(2) {
    --background: var(--color2);
    --right: 0;
    --rotateY: 90deg;
}

.boxes .box>div:nth-child(3) {
    --background: var(--color3);
    --rotateX: -90deg;
}

.boxes .box>div:nth-child(4) {
    --background: #00000096;
    --top: 0;
    --left: 0;
    --translateZ: calc(var(--size) * 2 * -1);
}

@-webkit-keyframes box1 {

    0%,
    50% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box1 {

    0%,
    50% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(200%, 0);
    }
}

@-webkit-keyframes box2 {
    0% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box2 {
    0% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}

@-webkit-keyframes box3 {

    0%,
    50% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box3 {

    0%,
    50% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0, 100%);
    }
}

@-webkit-keyframes box4 {
    0% {
        transform: translate(200%, 0);
    }

    50% {
        transform: translate(200%, 100%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

@keyframes box4 {
    0% {
        transform: translate(200%, 0);
    }

    50% {
        transform: translate(200%, 100%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

*:before,
*:after {
    box-sizing: border-box;
}

/* Preloader end */

/*ScrollBar*/
::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
    box-sizing: border-box;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    max-width: 100vw;
    background-color: var(--color1);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

/*navbar*/
.navbar {
    z-index: 500;
    border: 2px solid var(--color4);
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    background-color: #001322db;
    width: 100px;
    right: -100px;
    top: 35vh;
    height: fit-content;
    padding: 20px 0;
    transition: right 0.4s ease-in-out;
}

.toggle {
    position: absolute;
    top: 30px;
    right: 100px;
    padding: 10px;
    color: var(--color4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--color4);
    border-right: 0px;
    background-color: #001322db;
}

.nav-item {
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color4);
    display: block;
    transition: 0.3s;
}

.nav-item:hover {
    color: var(--color3);
}

.navbar:hover {
    right: 0px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--color2);
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color2);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.scrollup {
    visibility: hidden;
    transition: 0.2s all;
    display: flex;
    position: fixed;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 500;
    border-radius: 50%;
    border: 2px solid var(--color4);
    background-color: #00a4ebd6;
    right: 20px;
    bottom: 30px;
}

.scrollup a {
    color: var(--color1);
}

.scrollup:hover {
    background-color: var(--color2);
}

/*Index.html CSS Code*/

/*Hero Section*/

.hero-section {
    display: block;
    height: 100vh;
    width: 100vw;
}

#vantajs {
    position: static;
    display: block;
    width: 100vw;
    height: 100vh;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 18.75em;
    width: 18.75em;
}

.item2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--color4);
    margin: 50px 50px 10px;
}

.item3 {
    font-size: 20px;
    font-weight: 400;
    margin: 5px 50px 15px;
    display: inline-block;
    color: var(--color4);
}

.hero-content-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    align-items: center;
}

/*section css global*/

.content_section {
    padding: 20px 100px;
    display: block;
    position: relative;
    height: fit-content;
    width: 100vw - 200px;
}

.section-heading {
    font-weight: 600;
    font-size: 50px;
    padding: 10px 30px 10px 10px;
    display: inline-block;
    margin: 30px auto 20px;
}

.light {
    background-color: var(--color4);
    color: var(--color1);
}

.dark {
    color: var(--color4);
    background-color: var(--color1);
}

.content-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 10px 0 50px;
}

/*About-Section*/

.about-content {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    width: 750px;
    margin: 10px 0px 10px;
    padding: 30px 30px;
    border: 3px solid var(--color1);
    border-radius: 40px;
}

/*Event-Section*/

.event-content {
    text-align: center;
    width: 750px;
    margin: 10px 0px 10px;
    padding: 30px 30px;
    border: 3px solid var(--color4);
    border-radius: 40px;
}

.over {
    width: 500px;
    border: 0;
}

.text1 {
    font-size: 23px;
    font-weight: 800;
    color: var(--color4);
    padding: 0 0 10px;
}

.text2 {
    font-size: 30px;
}

.event-button {
    font-family: "Noto Sans", sans-serif;
    border: 2px solid var(--color1);
    border-radius: 20px;
    background-color: var(--color3);
    margin: 50px 0px;
    padding: 10px 20px;
    color: var(--color1);
    font-size: 20px;
    transition: 0.4s all;
}

.event-button:hover {
    transition: all 0.4s;
    background-color: var(--color2);
    color: var(--color4);
}

.container {
    display: block;
    text-align: left;
    font-size: 18px;
    margin: 20px 0;
}

.event-image {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    border: 2px solid var(--color3);
    float: right;
    margin: 0 0px 0 40px;
    background: url("../Assets/eventsPage/arithmania.webp") no-repeat center;
    background-size: contain;
    transition: 0.3s all;
}

.event-image:hover {
    transition: 0.4s all;
    background-image: url("../Assets/homePage/know-more-overlay.webp");
}

/*Blogs-Section*/

.card {
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)),
            rgba(0, 0, 0, var(--bg-filter-opacity))),
        var(--bg-img);
    height: 16em;
    width: 13em;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    margin-top: 0.5em;
    line-height: 2em;
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: var(--color3);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, 0.5s;
}

.card:hover .tags .tag {
    background: var(--color4);
    color: var(--color1);
}

.card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: 0.8;
}

.card:before,
.card:after {
    content: "";
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, 0.5s;
    transition-timing-function: ease-in-out;
}

.card:before {
    background: var(--color2);
    width: 250%;
    height: 250%;
}

.card:after {
    background: var(--color1);
    width: 200%;
    height: 200%;
}

.card:hover {
    color: var(--color4);
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 2em;
    margin-bottom: 1.2rem;
    color: var(--color1);
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

.blogs-button {
    color: var(--color3);
    font-size: 30px;
    transition: 0.4s all;
    text-decoration: none;
}

.blogs-button:hover {
    transition: 0.4s all;
    color: var(--color2);
}

/* Contact-Section*/
.override {
    margin-bottom: 5px;
}

.contact-content {
    font-weight: 400;
    display: block;
    width: 600px;
    padding: 10px;
    margin: 10px 0px 10px;
}

.location {
    font-size: 40px;
    margin: 20px 20px 20px 0px;
    float: left;
}

.address {
    display: inline;
    text-align: left;
    font-size: 17px;
}

.title1 {
    font-size: 25px;
    font-weight: 600;
    width: 200px;
    margin: 0 0 10px;
}

.title2 {
    font-size: 19px;
    margin: 30px 0;
}

.contact-social {
    display: block;
    margin: 30px 0;
    width: 200px;
}

.contact-icon {
    color: var(--color4);
    font-size: 30px;
    padding: 2px 15px 2px 0px;
    transition: 0.4s all;
}

.contact-icon:hover {
    color: var(--color3);
    transition: 0.4s all;
}

.contact_form {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
}

.form-content {
    margin: 5px 10px;
    padding: 5px 5px;
    display: block;
}

.contact_label {
    margin: 0px 2px 8px;
    display: block;
}

.contact_input {
    display: block;
    padding: 5px 5px;
    width: 300px;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color1);
    border: 2px solid var(--color4);
    border-radius: 10px;
    font-size: 17px;
    color: var(--color4);
}

.alert_style {
    border-radius: 10px;
    padding: 2px 5px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 100;
}

.submit-button {
    transition: 0.4s all;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    width: 150px;
    height: 40px;
    margin: 15px 0px 0px;
    border: 2px solid var(--color4);
    color: var(--color1);
    border-radius: 10px;
    background: var(--color3);
}

.submit-button:hover {
    transition: 0.4s all;
    background: var(--color2);
    color: white;
}

/*footer*/

footer {
    width: 100%;
    height: fit-content;
    background-color: var(--color1);
    padding: 20px 100px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo1 {
    height: 67.3px;
    width: 215.5px;
}

.footer-logo2 {
    height: 120px;
    width: 120px;
    margin: 20px 0 20px 95.5px;
}

.footer-social {
    text-align: center;
    margin: 25px 10px 20px;
}

.footer-icon {
    color: var(--color4);
    font-size: 25px;
    padding: 2px 10px;
}

.footer-text {
    color: rgb(183, 183, 183);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 3px;
}

.footerlink {
    margin: 20px 10px;
    color: var(--color4);
    text-decoration: none;
    font-size: 17px;
}

.footerlink:hover {
    color: var(--color3);
    transition: 0.4s ease;
}

.footer-icon:hover {
    color: var(--color3);
    transition: 0.4s ease;
}